.card {
  background: white;
  display: flex;
  height: 50vh;
  width: 40vh;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  color: blue;
  flex-direction: column;
  border-radius: 10px
}

.heading {
  background:red;
  font-size: 24px;
  margin: 10%;
}

.nav{
  background: black;
  height: 12%;
  width: 100%;
}

.dateselector{
  background:red;
  padding: 10px 80px;
}

.searchbar{
  background:green;
  padding: 10px 80px;
}

.logo{
  background: black;
  padding: 20px;
  color: white;
}

.textbox{
  background: purple;
  color: white;
  padding: 10px 40px;
}